/*media queries*/
@media screen and (max-width: 300px){
    #welcome-section {
      height: 50vh;
    }
  }
  
  /*custom styles*/
  #welcome-section {
      height: 100vh;
  }
  
  #navbar {
      position: fixed;
      top: 0;
  }